<!DOCTYPE html>
<html>
	{% block head %}
	<head>
		<link rel='stylesheet' href='/static/js/montage/resources/montage.css' />
	</head>
	{% endblock %}
	<body class="claro patric Authenticated">
		<div id="ApplicationContainer" data-dojo-type="RouterApp/ApplicationContainer" class="layoutContainer" data-dojo-props="gutters:false,liveSplitters:false" style="width:100%;height:100%;">

			{% block header %}
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'" style="background: #ddd;margin:0px;padding:8px;border:0px;">
				{% block header_content %}
				<table style="width:100%">
					<tr>
						<td style="width:15%;"><a class="ApplicationNavLink" href="/">montage</a></td>
						<td>
							<a class="ApplicationNavLink" href="/project/">Projects</a> &nbsp;&nbsp;
							<a class="ApplicationNavLink" href="/data/">Data</a>
						</td>
					</tr>
				</table>
				{% endblock %}
			</div>
			{% endblock %}


			{% block content_container %}	
			<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" style="margin:0px;padding:6px;border:0px solid #ddd;background:inherit;">
				{% block title %}{% endblock %}
				{% block content %}
				{% endblock %}	
			</div>
			{% endblock %}
		</div>	
		<script>
			dojoConfig = {
				parseOnLoad: false,
				packages: []
    			}
		</script>

		<script src="/static/js/dojo/dojo.js"></script>
		<script>

			require(["montage/app"], function(App){
				appOpts = {}
				window.App = new App(appOpts);
			});
		</script>
	</body>
</html>
