<div class="Investigation">
	<div class="Section">
		<div class="SectionTitle"><span>Theories</span><i class="fa-2x icon-plus-circle  viewOnEditable" data-dojo-attach-event="click:addTheory"></i></div>
		<div data-dojo-attach-point="theoriesContainer"></div>
	</div>
	<div class="Section">
		<div class="SectionTitle">Hypotheses<i class="fa-2x icon-plus-circle viewOnEditable" data-dojo-attach-event="click:addHypothesis"></i></div>
		<div data-dojo-attach-point="hypothesesContainer"></div>
		
	</div>
	<div class="Section">
		<div class="SectionTitle">Mechanisms<i class="fa-2x icon-plus-circle viewOnEditable" data-dojo-attach-event="click:addMechanism"></i></div>
		<div data-dojo-attach-point="mechanismsContainer"></div>
	</div>
	<div class="Section">
		<div class="SectionTitle">Models<i class="fa-2x icon-plus-circle viewOnEditable" data-dojo-attach-event="click:addModel"></i></div>
		<div data-dojo-attach-point="modelsContainer"></div>
	</div>
	<div class="Section">
		<div class="SectionTitle">Experiments<i class="fa-2x icon-plus-circle viewOnEditable"></i></div>
		<div data-dojo-attach-point="experimentsContainer"></div>
	</div>
	<div class="Section">
		<div class="SectionTitle">Analysis<i class="fa-2x icon-plus-circle viewOnEditable"></i></div>
		<div data-dojo-attach-point="analysisContainer"></div>
	</div>
</div>