<div class="Model">
	<select data-dojo-type="dijit/form/Select" data-dojo-attach-point="modelType">
		<option value="intersim-im-11-1">InterSim IM 11-1</option>
		<option value="WordGameModel">WordGameModel</option>
+		<option value="ThresholdModel">ThresholdModel</option>
	</select>
	<div class="ButtonContainer">
		<button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:cancel">Cancel</button>
		<button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:save">Save</button>
	</div>
</div>
