<div class="ProjectOverviewPanel">
	<table style="width:100%">
		<!-- <tr><td>howdy</td></tr> -->
		<tr>
			<td style="text-align:left;">
				<div style="font-size:1.3em;"><a class="ApplicationNavLink" href="/project/${id}">${description}</a></div>
			</td>
			<td></td>
			<td style="text-align: right;">
				<span>${state}</span>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				${description}
			</td>
		</tr>
	</table>
	<table style="width: 100%;">
		<tr>
			<td>Created By</td>
			<td>Created On</td>
			<td>Modified By</td>
			<td>Last Modified On</td>
		</tr>
		<tr>
			<td>${createdBy}</td>
			<td>${createdOn}</td>
			<td>${modifiedBy}</td>
			<td>${lastModified}</td>
		</tr>
	</table>
</div>
