[submodule "montage_index/static/dojo"]
	path = montage_index/static/js/dojo
	url = https://github.com/dojo/dojo
[submodule "montage_index/static/dijit"]
	path = montage_index/static/js/dijit
	url = https://github.com/dojo/dijit
[submodule "montage_index/static/util"]
	path = montage_index/static/js/util
	url = https://github.com/dojo/util
[submodule "montage_index/static/js/rql"]
	path = montage_index/static/js/rql
	url = https://github.com/persvr/rql.git
