# Use this as an example for per-deployment settings.

import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# Might want to make this more specific
ALLOWED_HOSTS = ['*']
DEBUG = True
# This is a Production setting
# The Postgres database will need to be created
# "Name", "User", "Password", "Host", and "Port" may need to be set.
# Defaults are provided
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'django_db',
        'USER': 'django',
        'PASSWORD': 'password',
        'HOST': 'localhost',
        'PORT': '5432',
    }
}

from datetime import timedelta

# JWT settings.
# Example JWT key import
try:        
    with open(BASE_DIR + '/private.pem', 'r') as f:     
        PRIVATE_KEY = f.read().strip()      
        
    with open(BASE_DIR + '/public.pem', 'r') as f:      
        PUBLIC_KEY = f.read().strip()       
        
    MONTAGE_JWT = {
        'ALGORITHM': 'RS512',
        'PRIVATE_KEY': str(PRIVATE_KEY),
        'PUBLIC_KEY': str(PUBLIC_KEY),
    }
except IOError:
    print('Could not find {0}/private.pem or {0}/public.pem.'.format(BASE_DIR))
