# Use this as an example for per-deployment settings.

import os
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# This is a Production setting
# The Postgres database will need to be created
# "Name", "User", "Password", "Host", and "Port" may need to be set.
# Defaults are provided
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'montage',
        'USER': 'postgres',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

MONTAGE_JWT = {}

# JWT settings.
# Example JWT key import
try:		
    with open(BASE_DIR + '/private.pem', 'r') as f:		
        PRIVATE_KEY = f.read().strip()		
		
    with open(BASE_DIR + '/public.pem', 'r') as f:		
        PUBLIC_KEY = f.read().strip()		
		
    MONTAGE_JWT['PUBLIC_KEY'] = str(PUBLIC_KEY)		
    MONTAGE_JWT['PRIVATE_KEY'] = str(PRIVATE_KEY)		
except:		
    print('Could not find ./private.pem or ./public.pem.')
